<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    <link rel="shortcut icon" type="image/x-icon" href="/static/images/Notepad.ico.ico" />

    <style>
        .navbar-nav :hover{
             transform: scale(1.15);
            background-color: rgba(97, 96, 96, 0.3);
        }
        .navbar-brand{
    font-family:cursive ;
    font-size:28px;
    font-weight: bold;
    
}
.test{
    font-weight: 550;
}
.back-ground{
    background-color: #D3D3D3;
}


    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar back-ground">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">
                <img src="/static/images/notebook.png" style="width: 40px;" alt="CoolBrand"  >Mynote
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav lead test">
                    <a href="/" class="nav-item nav-link active mx-3">Home</a>
                    <a href="" class="nav-item nav-link active mx-3">Notes</a>
                    <a href="" class="nav-item nav-link active mx-3">About Us</a>
                    <a href="/profile" class="nav-item nav-link active mx-3">Profile</a>
                    <a href="/contactus" class="nav-item nav-link active mx-3">Contact Us</a>
                </div>
            </div>
        