{% extends 'index.html' %}    

{% block title %} aboutus {% endblock title %}
        
{% block href %}   <a href="/" class="nav-item nav-link active mx-3">Home</a> {% endblock href %}
{% block href1 %}  <a href="#myModal"   role="button"  data-bs-toggle="modal"class="nav-item nav-link active mx-3" onclick="message()">Notes</a>  {% endblock href1 %}
{% block href2 %}  <a href="" class="nav-item nav-link active mx-3">About Us</a> {% endblock href2 %}
{% block href3 %}  <a href="#myModal"   role="button"  data-bs-toggle="modal"class="nav-item nav-link active mx-3" onclick="message()">Profile</a> {% endblock href3 %}
{% block href4 %}  <a href="/contactus" class="nav-item nav-link active mx-3">Contact Us</a> {% endblock href4 %}
                
{% block a1 %}   {% endblock a1 %}
{% block a2 %}   {% endblock a2 %}