{% extends 'index.html' %}    

{% block title %} profile {% endblock title %}

<a href="/" class="nav-item nav-link active mx-3">Home</a> 
{% if request.user.is_authenticated or  username is not none %}
    <a href= "/profile"  role="button" class="nav-item nav-link active mx-3">Profile</a> 
    <a href="/notes"   role="button" class="nav-item nav-link active mx-3" >Notes</a> 

{% else %}  

    <a href="#myModal"   role="button"  data-bs-toggle="modal"class="nav-item nav-link active mx-3" onclick="message()">Profile</a>
    <a href="#myModal"   role="button"  data-bs-toggle="modal"class="nav-item nav-link active mx-3" onclick="message()">Notes</a> 
    
{% endif %}
<a href="/aboutus" class="nav-item nav-link active mx-3">About Us</a>
<a href="/contactus" class="nav-item nav-link active mx-3">Contact Us</a>


        

{% block a1 %} {% endblock a1 %}
{% block a2 %}  {% endblock a2 %}

                    
