{% extends 'index.html' %}    

{% block title %} profile {% endblock title %}
        

{% block href %}   <a href="/" class="nav-item nav-link active mx-3">Home</a> {% endblock href %}
{% block href1 %}  <a href="/notes" class="nav-item nav-link active mx-3">Notes</a> {% endblock href1 %}
{% block href2 %}  <a href="/aboutus" class="nav-item nav-link active mx-3">About Us</a> {% endblock href2 %}
{% block href3 %}  <a href="" class="nav-item nav-link active mx-3">Profile</a> {% endblock href3 %}
{% block href4 %}  <a href="/contactus" class="nav-item nav-link active mx-3">Contact Us</a> {% endblock href4 %}
                

{% block a1 %} {% endblock a1 %}
{% block a2 %}  {% endblock a2 %}

                    
