.full-screen-bg {
    background-color: hsl(0, 0%, 96%);
    height: 100vh; /* Set height to 100% of viewport height */
}

.full-screen-back {
    background-color: #eee;
}

form{
    max-width: 700px;
}

.pass{
    margin-top: 150px;
}
.custom-margin-top{
    margin-top: 180px;
   
}




