.full-screen-bg {
    background-color: hsl(0, 0%, 96%);
    height: 100vh; /* Set height to 100% of viewport height */
}

.full-screen-back {
    background-color: #eee;
    height: 100vh; /* Set height to 100% of viewport height */
    
}